* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  cursor: default;
}
a {
  color: inherit;
  text-decoration: none;
}
.medsos {
  padding: 10px 0;
  background-color: #148f77;
}
.medsos li {
  display: inline-block;
  color: #fff;
}
.container h1 {
  font-family: Courier;
  font-size: 35px;
}
.container {
  width: 80%;
  margin: 0 auto;
}
.container:after {
  content: "";
  display: block;
  clear: both;
}

header h1 {
  float: left;
  padding: 15px 0;
  color: #148f77;
}
header ul {
  cursor: pointer;
  float: right;
}
header ul li {
  display: inline-block;
  cursor: pointer;
}
header ul li a {
  padding: 25px 20px;
  display: inline-block;
  color: #148f77;
  cursor: pointer;
}
header ul li a:hover {
  background-color: #148f77;
  color: #fff;
  transition: 0.3s;
  transition-delay: 0.1s;
  border-radius: 30px 0 25px 0;
  cursor: pointer;
}
img {
  height: 310px;
  width: 280px;
  border-radius: 30px;
}
.satu p {
  font-size: 1.3rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 15px;
  visibility: hidden;
  opacity: 0;
}
.satu {
  display: flex;
  margin-left: 10px;
}
.dua p {
  font-size: 1.3rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 15px;
  visibility: hidden;
  opacity: 0;
}
.dua {
  display: flex;
  margin-left: 10px;
}
.tiga p {
  font-size: 1.3rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 15px;
  visibility: hidden;
  opacity: 0;
}
.tiga {
  display: flex;
  margin-left: 10px;
}
.empat p {
  font-size: 1.3rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 15px;
  visibility: hidden;
  opacity: 0;
}
.empat {
  display: flex;
  margin-left: 10px;
}
.lima p {
  font-size: 1.3rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 15px;
  visibility: hidden;
  opacity: 0;
}

.card {
  height: 310px;
  margin: 26px;
  box-shadow: 5px 5px 20px black;
  overflow: hidden;
  border-radius: 30px;
}
.intro {
  height: 70px;
  width: 280px;
  padding: 6px;
  box-sizing: border-box;
  position: absolute;
  background: rgb(27, 27, 27, 0.5);
  color: whitesmoke;
  bottom: 80px;
  border-radius: 30px;
}
.intro h1 {
  margin: 10px;
  font-size: 40px;
  font-family: courier;
}
.intro2 {
  height: 70px;
  width: 280px;
  padding: 6px;
  box-sizing: border-box;
  position: absolute;
  background: rgb(27, 27, 27, 0.5);
  color: whitesmoke;
  bottom: -280px;
  border-radius: 30px;
}
.intro2 h1 {
  margin: 10px;
  font-size: 40px;
  font-family: courier;
}
.intro3 {
  height: 70px;
  width: 280px;
  padding: 6px;
  box-sizing: border-box;
  position: absolute;
  background: rgb(27, 27, 27, 0.5);
  color: whitesmoke;
  bottom: -643px;
  border-radius: 30px;
}
.intro3 h1 {
  margin: 10px;
  font-size: 40px;
  font-family: courier;
}
.intro4 {
  height: 70px;
  width: 280px;
  padding: 6px;
  box-sizing: border-box;
  position: absolute;
  background: rgb(27, 27, 27, 0.5);
  color: whitesmoke;
  bottom: -1004px;
  border-radius: 30px;
}
.intro4 h1 {
  margin: 10px;
  font-size: 40px;
  font-family: courier;
}

.judul {
  font-size: 3rem;
  font-family: courier;
  color: #148f77;
  text-align: center;
  margin-bottom: 45px;
  background-color: whitesmoke;
}
.card:hover {
  cursor: pointer;
}
.card:hover .intro {
  height: 150px;
  bottom: 80px;
  background: rgba(0, 0, 0, 0.7);
  transition: 0.3s;
}
.card:hover .intro2 {
  height: 150px;
  bottom: -280px;
  background: rgba(0, 0, 0, 0.7);
  transition: 0.3s;
}
.card:hover .intro3 {
  height: 150px;
  bottom: -643px;
  background: rgba(0, 0, 0, 0.7);
  transition: 0.3s;
}
.card:hover .intro4 {
  height: 150px;
  bottom: -1004px;
  background: rgba(0, 0, 0, 0.7);
  transition: 0.3s;
}

.card:hover p {
  opacity: 1;
  visibility: visible;
}
.card:hover img {
  transform: scale(1);
}

.w3-bar {
  text-align: center;
  margin-left: 35px;
  font-size: 3rem;
  margin-top: 55px;
}

.w3-bar .sat {
  padding: 15px;
  border-radius: 15px;
}

.w3-bar .du {
  padding: 15px;
  background-color: black;
  color: white;

  border-radius: 15px;
}
.w3-bar .kirim {
  padding: 15px;
  border-radius: 15px;
}

.w3-bar .sat:hover {
  background-color: black;
  color: white;
  transition: 0.3s;
  border-radius: 15px;
}
.w3-bar .du:hover {
  background-color: black;
  color: white;
  transition: 0.3s;
  border-radius: 15px;
}
.w3-bar .kirim:hover {
  background-color: black;
  color: white;
  transition: 0.3s;
  border-radius: 15px;
}
footer {
  padding: 10px 0;
  margin-top: 30px;
  background-color: #148f77;
  height: 5px;
}
